html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.header {
    background-color: darkolivegreen;
    margin: 10px 10px 0px 10px;
    padding: 5px;
    text-align: center;
}

.content {
    background-color: palevioletred;
    flex-grow: 1;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    text-align: center;
}