.header{
    background-color: green;
    margin: 5px;
}

.content{
    background-color: red;
    flex-grow: 1;
    margin: 5px;
}

.leftbar{
    background-color: mediumpurple;
    width: 25%;
    margin: 5px;
}

.host{
    background-color: yellow;
    height: 100%;
    display: flex;
}

body{
    display: flex;
    height: 100%;
    flex-direction: column;
}

html{
    height: 100%;
    padding: 10px;
}
