.header{
    background-color: green;
    margin: 5px;
}

.content{
    background-color: red;
    flex-grow: 1;
    margin: 5px;
    overflow: auto;
}

.left-bar{
    background-color: mediumpurple;
    width: 25%;
    margin: 5px;
}



.host-top-down{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tab-bar{
    background-color: cornflowerblue;
    height: 50px;
    margin: 5px;
    display: flex;
}

.tab{
    flex-grow: 1;
    margin: 3px;
    border: solid 2px royalblue;
}

.status-bar{
    background-color: cornflowerblue;
    margin: 5px;
}

.item{
    background-color: orange;
    height: 150px;
    margin: 10px;
}

.host-left-right{
    background-color: yellow;
    height: 100%;
    display: flex;
    overflow-y: auto;
}

.app-root{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

body{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

html{
    display: flex;
    height: 100%;
}
